<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="mb-3">Agregar Empleados</h3>
                    <form action="">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre" id="">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" name="apellido" class="form-control" placeholder="Apellido" id="">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
