<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h2">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-end" routerLink="/create-empleado"><i class="fa-solid fa-plus"></i> Agregar</button>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre#</th>
                        <th scope="col">Apellido#</th>
                        <th scope="col">Email#</th>
                        <th scope="col">Acción#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of MisEmpleados | async; let i = index">
                        <td scope="row">{{i + 1}}</td>
                        <td >{{empleado.nombre}}</td>
                        <td>{{empleado.apellido}}</td>
                        <td>{{empleado.email}}</td>
                        <td>
                            <button class="btn btn-primary mx-1 p-1"><i class="fa-solid fa-pen"></i></button>
                            <button class="btn btn-danger mx-1 p-1"><i class="fa-solid fa-trash-can "></i></button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>