<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h2">Listado de Empleados</span>
            <div class="mt-3">
                <button class="btn btn-dark btn-lg"><i class="fa-solid fa-plus"></i> Agregar</button>
                <button class="btn btn-dark btn-lg ms-3"><i class="fa-solid fa-pen"></i> Modificar</button>
                <button class="btn btn-dark btn-lg ms-3"><i class="fa-solid fa-minus"></i> Eliminar</button>
            </div>

            <table class="table mt-3">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre#</th>
                        <th scope="col">Apellido#</th>
                        <th scope="col">Profesion#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">1</td>
                        <td>David</td>
                        <td>Yaps</td>
                        <td>Profesor</td>
                    </tr>
                    <tr>
                        <td scope="row">2</td>
                        <td>Jose Maria</td>
                        <td>Casalnovo</td>
                        <td>Profesor</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>